---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.svelte';
---

<Layout title="Otter">

	<main>
		<div class="max-w-6xl mx-auto my-20 border-2 border-dashed rounded-lg p-10">
			<h1 class="text-3xl font-bold">Welcome</h1>
			<p class="my-5">Please select your CSV file to begin.</p>
			<Form client:load />
		</div>
	</main>

</Layout>
