---
import Layout from '../layouts/Layout.astro';
import Licenses from '../components/Licenses.svelte';
---

<Layout title="Otter">

    <main>
        <div class="max-w-6xl mx-auto my-20 border-2 border-dashed rounded-lg p-10">
            <Licenses client:load/>
        </div>
    </main>

</Layout>
